<div class="home-show">
	<div class="registration-section">
		<div class="container">
			<div class="col-md-12">
				<div class="col-md-7 hidden-xs">
					<div class="left-section">
						<%= image_tag("ddd.png", class: "img-responsive")%>
					</div>
				</div>
				<div class="col-md-4 col-md-offset-1">
					<div class="right-section">
						<p class="clik-upld-file">
							<a href="/taxfiling/experts" id="click_fade">Click.</a>
							<a href="/taxfiling/experts" id="upload_fade">Upload.</a>
							<a href="/taxfiling/experts" id="file_fade">File.</a>
						</p>
						<h3 class="title">Get your maximum <strong>REFUND</strong> with our tax experts.</h3>
						<form id="get-touch-from" action="<%#= query_lead_queries_path() %>" class="get-touch-frm form-horizontal" method="" style="display: none;">
						    <div class="input-group">
								<span class="input-group-addon"><i class="fa fa-user-circle" aria-hidden="true"></i></span>
								<input type="text" class="form-control" name="query[name]" id="name" placeholder="Name">
							</div>
							<div class="input-group">
								<span class="input-group-addon"><i class="fa fa-phone-square" aria-hidden="true"></i></span>
							     <input type="text" class="form-control" name="query[mobile]" placeholder="phone" id="mobile" required="true"/>
							</div>
							<div class="input-group">
								<span class="input-group-addon"><i class="fa fa-envelope" aria-hidden="true"></i></span>
							     <input type="email" class="form-control" name="query[email]" id="email" placeholder="Email" required="true"/>
							</div>
							
							<div class="col-md-12 col-xs-12 margin-top text-center">
								<button type="submit" class="btn formBtnTouch">GET IN TOUCH</button>
							</div>
						</form>
						<!-- <form id="" action="" class="get-touch-frm form-horizontal" method="" style="display: none;">
						    <div class="input-group">
								<span class="input-group-addon"><i class="fa fa-user-circle" aria-hidden="true"></i></span>
								<input type="text" class="form-control" placeholder="Name">
							</div>
							<div class="input-group">
								<span class="input-group-addon"><i class="fa fa-phone-square" aria-hidden="true"></i></span>
							     <input type="text" class="form-control" placeholder="phone" required="true"/>
							</div>
							<div class="input-group">
								<span class="input-group-addon"><i class="fa fa-envelope" aria-hidden="true"></i></span>
							     <input type="email" class="form-control" placeholder="Email" required="true"/>
							</div>
							
							<div class="col-md-12 col-xs-12 margin-top text-center">
								<button type="submit" class="btn formBtnTouch">START SELF FILING FOR FREE</button>
							</div>
						</form> -->
						<div class="col-md-12 col-xs-12 margin-top margin-bottom text-center padding-zero">
							<button type="submit" id="Self-filing-free" class="btn formBtnStartFiling">START SELF FILING FREE</button>
						</div>
						<div class="col-md-12 col-xs-12 margin-top text-center padding-zero">
							<button type="submit" id="get-in-touch" class="btn formBtnTouch">GET IN TOUCH</button>
						</div>
					</div>
				</div>
			</div>				
		</div>
	</div>
</div>
<div class="hw-dos-wrk">
	<div class="container">
		<h2 class="work-title">How does it work?</h2>
		<div class="navy-line"></div>
		<div class="col-md-12 icons-work-section">
			<div class="col-md-3 border-line">
				<div class="icon-wrapper-cvr">
					<strong class="custom-wrapper-icon"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></strong>
				</div>
				<h3 class="fill-h3">Fill the form</h3>
				<p>Your information will always be secured and protected.</p>
			</div>
			<div class="col-md-3 border-line">
				<div class="icon-wrapper-cvr">
					<strong class="custom-wrapper-icon"><i class="fa fa-phone" aria-hidden="true"></i></strong>
				</div>
				<h3 class="fill-h3">We'll give you a call</h3>
				<p>Our 18x7 active customer support executives will get in touch with you</p>
			</div>
			<div class="col-md-3 border-line">
				<div class="icon-wrapper-cvr">
					<strong class="custom-wrapper-icon"><i class="fa fa-file-text-o" aria-hidden="true"></i></strong>
				</div>
				<h3 class="fill-h3">Information &amp; Documents</h3>
				<p>We shall collect the required documents. We promise to safegaurd your information</p>
			</div>
			<div class="col-md-3 border-line">
				<div class="icon-wrapper-cvr">
					<strong class="custom-wrapper-icon"><i class="fa fa-check-square-o" aria-hidden="true"></i></strong>
				</div>
				<h3 class="fill-h3">Your work is done</h3>
				<p>Rest assured, Your return is processed</p>
			</div>
		</div>
	</div>
</div>

<div class="why-shd-incm">
	<div class="container">
		<div class="col-md-12">
			<div class="col-md-6">
				<div class="left-img">
					<%= image_tag("why.png", class: "img-responsive")%>
				</div>
			</div>
			<div class="col-md-6">
				<div class="right-contnt">
					<h2>Why should you file income file?</h2>
					<div class="navy-line"></div>
					<ul class="list-group tax-return-usage">
						<li class="">Get tax money back</li>
						<li class="">TDS returns made easy</li>
						<li class="">Be Legal and compliant</li>
						<li class="">Become eligible for loan</li>
						<li class="">Mandatory document for VISA</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="filing-go-btr">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-xs-12 text-center">
				<h2 class="filing-tiite">Filing just got better!</h2>
				<div class="navy-line"></div>
	            <!-- <p class="sub-heading">Extra great features</p> -->
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4 col-xs-12 features-text">
				<i class="fa fa-lock fa-5x pull-left" aria-hidden="true" style="color: #003046;"></i>
				<h3 class="sonu-h33">Security</h3>
	            <p>Your information will always be secured and protected.</p>
			</div>
			<div class="col-lg-4 col-xs-12 features-text">
				 <%= image_tag("https://s3.amazonaws.com/filing.image/Accurate.png", class: "pull-left", alt:'FilingMantra\'s 100% accurate tax platform') %>
	            <h3 class="sonu-h33">100% Accurate</h3>
	            <p>Our tax platform is most accurate.</p>
			</div>
			<div class="col-lg-4 col-xs-12 features-text">
				<%= image_tag("https://s3.amazonaws.com/filing.image/TaxRefunds.png", class: "pull-left", alt:'Fast tax refunds by FilingMantra') %>
	            <h3 class="sonu-h33">Tax Refunds</h3>
	            <p>We help in getting the refunds faster!!.</p>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4 col-xs-12 features-text">
				<%= image_tag("https://s3.amazonaws.com/filing.image/Experts1.png", class: "pull-left", alt:'FilingMantra\'s Qualified tax Experts') %>
	            <h3 class="sonu-h33">Experts</h3>
	            <p>Qualified CA’s, Tax practitioners and CS's to provide assisted services.</p>
			</div>
			<div class="col-lg-4 col-xs-12 features-text">
				<%= image_tag("https://s3.amazonaws.com/filing.image/Servicess.png", class: "pull-left", alt:'FilingMantra\'s round the clock tax filing services') %>
	            <h3 class="sonu-h33">Service</h3>
	            <p>Year round call centre and chat support.</p>
			</div>
			<div class="col-lg-4 col-xs-12 features-text">
				<%= image_tag("https://s3.amazonaws.com/filing.image/simple-easy.png", class: "pull-left", alt:'Simple & Easy tax filing by FilingMantra') %>
	            <h3 class="sonu-h33">Simple &amp; Easy</h3>
	            <p>We make tax filing easy.</p>
			</div>
		</div>
	</div>
</div>

<div class="partner-say">
	<section id="carousel" class= "fm-partners">
			<div class="container">
				<h2 class="sonu-head">What our partners say</h2>
				<div class="navy-line"></div>
				<!-- <p class="sub-heading">Don't just believe us, hear what our users say...</p> -->
				<div class='row'>
					<div class='col-md-12'>
						<div class="carousel slide" data-ride="carousel" id="quote-carousel">
							<!-- <ol class="carousel-indicators">
								<li data-target="#quote-carousel" data-slide-to="0" class="active"></li>
								<li data-target="#quote-carousel" data-slide-to="1"></li>
								<li data-target="#quote-carousel" data-slide-to="2"></li>
							</ol> -->
							<div class="carousel-inner">
								<div class="item active">
									<div class="row">
										<div class="col-sm-3 text-center">
											<img class="img-circle" src="https://s3.amazonaws.com/filing.image/deepka.jpg" alt="User Deepika Maroo - FilingMantra">
										</div>
										<div class="col-sm-9">
											<div class="content">
											<div class="myclass"></div>
												<div class="article">
													<p>"Filing Mantra is very helpful website for ​individual to file income tax returns. The greatest part about Filing Mantra team is their transparency both in terms of deadlines and their cost structure."</p>
												</div>
												<p class="partners-name">- Deepika Maroo</p>
												<div class="details" style="display: none;"><small>Founder & CEO of Polynomial Solutions.</small></div>
											</div>
										</div>
									</div>
								</div>
								<div class="item">
									<div class="row">
										<div class="col-sm-3 text-center">
											<%= image_tag("https://s3.amazonaws.com/filing.image/naveen.jpg", class: "img-circle", alt: 'User Naveen Valluri - FilingMantra') %>
										</div>
										<div class="col-sm-9">
											<div class="content">
											<div class="myclass"></div>
												<div class="article">
													<p>"I would love to recommend this in a heart beat. I approached Filing Mantra for my start up compliance and tax filing. Smooth process and a customer friendly executives."</p>
												</div>
												<p class="partners-name">- Naveen Valluri</p>
												<div class="details"><small>Founder & CEO of Polynomial Solutions.</small></div>
											</div>
										</div>
									</div>
								</div>
								<div class="item">
									<div class="row">
										<div class="col-sm-3 text-center">
											<img class="img-circle" src="https://s3.amazonaws.com/filing.image/abhijeet.JPG" alt="User Abhijeet Kothale - FilingMantra">
										</div>
										<div class="col-sm-9">
											<div class="content">
											<div class="myclass"></div>
												<div class="article">
													<p>"All the professionals who find themselves alien to tax filing process, simply reach out to Filing Mantra as your one stop point for tax queries."</p>
												</div>
												<p class="partners-name">- Abhijeet Kothale</p>
												<div class="details"><small>Marketing Consultant.</small></div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- Carousel Buttons Next/Prev -->
							<!-- <a data-slide="prev" href="#quote-carousel" class="left carousel-control"><i class="fa fa-chevron-left"></i></a>
							<a data-slide="next" href="#quote-carousel" class="right carousel-control"><i class="fa fa-chevron-right"></i></a> -->
						</div>
					</div>
				</div>
			</div>
	</section>
</div>

